@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;600&family=Mali:wght@400;600&display=swap');

.login-page {
  background-color: #ffffff;
  font-family: 'Kodchasan', 'Mali', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-title {
  color: #4b0082;
  font-weight: 600;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}
.login-container {
  border: 2px solid #b39ddb;
  border-radius: 16px;
  padding: 2.5rem 3rem;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 340px;
  transition: transform 0.3s ease;
}
.login-input {
  margin-bottom: 1rem;
  border: 2px solid #b39ddb;
  border-radius: 10px;
  padding: 0.75rem;
  font-size: 1rem;
  text-align: center;
  color: #4b0082;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.login-input:focus {
  border-color: #7e57c2;
  outline: none;
  box-shadow: 0 0 6px #c9a3ff;
}
.login-btn {
  background-color: #ffffff;
  border: 2px solid #b39ddb;
  color: #4b0082;
  font-size: 1.2rem;
  padding: 0.7rem 1.8rem;
  font-weight: 600;
  border-radius: 14px;
  transition: transform 0.2s, background-color 0.2s;
  cursor: pointer;
  font-family: 'Kodchasan', 'Mali', sans-serif;
  width: 60%;
  display: block;
  margin: 1rem auto 0 auto;
}

.login-btn:hover {
  background-color: #f3e5ff;
  transform: scale(1.05);
}


